/* RESET & TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
	font-family: serif;
	font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 650px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}

/* TYPOGRAPHY */
h1, h2, h3, footer {
  font-family: Helvetica, Arial, sans-serif;
}

/* LAYOUT */
body {
	width: 100%;
}
.wrap {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .wrap {
    width: 75%;
  }
}
@media screen and (min-width: 900px) {
  .wrap {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .wrap {
    width: 750px;
  }
}

/* NAV & HERO */
.main-nav {
  color: #fff;

  display: flex;
  justify-content: space-between;
}
.main-nav > * {
  margin: 0;
}
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 20em;
  margin-top: 0;
  padding: 1rem 0 2rem;
  color: #fff;
}
.hero > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%,-50%);
  line-height: 1.2;
}
.hero-home {
  background-image: url("img/glocal.jpg");
}
.hero-emma {
  background-image: url("img/tschafon.jpg");
}
.hero-design {
  background-image: url("img/atelier2.jpg");
}
.hero-study {
  background-image: url("img/students.png");
}

.header-small {
  display: block;
  font-size: 0.8em;
}

/* CONTENT */
.content {
  margin-bottom: 2em;
}
.figure {
  width: 100%;
  height: auto;
}
.video {
  width: 100%;
}

.button {
  width: 100%;
  margin: 1em auto;
  padding: 1em 2em;
  border: 2px solid black;
  text-align: center;
  font-size: 1em;
}

/* CONTENT-SPECIFIC*/
.academia {
  margin: 2rem 0 0;
  padding: 1rem 0;
  background-color: #567CCD;
  color: #fff;
}

/* BOTTOM NAVIGATION */
footer {
  padding: 2rem 0;
  overflow: hidden;
  background-color: #000000;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-next, .footer-prev {
  display: block;
  width: 50%;
}

.footer-prev {
  float: left;
}

.footer-prev:before {
  content: "←";
  margin-right: .5rem;
}

.footer-next {
  float: right;
  text-align: right;
}

.footer-next:after {
  content: "→";
  margin-left: .5rem;
}