/* RESET & BODY TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
	font-family: serif;
	font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 650px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}

/* TYPOGRAPHY */
h1, h2, h3, h4, .bottom-nav, .main-nav {
  font-family: Helvetica, Arial, Roboto, sans-serif;
}
h2 {
  margin: 2em 0 .25em 0;
  line-height: 1.2;
}
h2 > a {
  display: inline-block;
  margin-bottom: .25em;
}
h3 {
  margin: 1em 0 .5em 0;
  line-height: 1.2;
}
h3 > a {
  line-height: 1.3;
}
h4 {
  margin: .5em 0 0 0;
  line-height: 1.4;
}
ul, ol {
  margin: 0 0 1em 0;
}
li {
  margin-bottom: .25em;
  line-height: 1.4;
}
li > ul {
  margin: 0;
}
a {
  pointer-events: none;
  color: #3879d9;
  text-decoration: none;
  border-bottom: 1px solid #3879d9;
}
p {
  margin: 0 0 1em 0;
  line-height: 1.4;
}
blockquote {
  margin: 1em 0 1em 2em;
  font-style: italic;
}
blockquote > p {
  margin-bottom: 0;
}

/* LAYOUT */
body {
	width: 100%;
}
.wrap {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .wrap {
    width: 75%;
  }
}
@media screen and (min-width: 900px) {
  .wrap {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .wrap {
    width: 750px;
  }
}
header {
  position: relative;
  margin-bottom: 2em;
}
header:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background-color: rgba(60, 123, 214, 0.5);
  z-index: -1;
}
img {
  display: block;
  margin: 1rem 0;
}
.search {
  margin-bottom: 1em;
}
.search > input {
  width: 80%;
  height: 40px;
}
.search > button {
  width: 20%;
  height: 40px;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* NAV & HERO */
.main-nav {
  color: #fff;

  display: flex;
  align-items: baseline;
}
.main-nav > * {
  margin: 0;

  display: flex;
  align-items: baseline;
}
.left {
  flex: 5 auto;
}
.right {
  flex: 0 auto;
}
.navitem {
  display: none;
  margin-left: 1rem;
  font-weight: 600;
  color: #fff;
  border: none;
  text-decoration: none;
}
.menu {
  margin: 0;
}
.right .menu {
  margin-left: 1rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 900px) {
  .navitem {
    display: block;
  }
  .left .menu {
    margin-right: 1rem;
  }
}
.hero {
  position: relative;
  z-index: -2;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 20em;
  margin-top: 0;
  padding: 1rem 0 2rem;
  color: #fff;
}
.hero > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%,-50%);
  line-height: 1.2;
}
.hero-home {
  background-image: url("home/glocal2.jpg");
}
.unibz-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  margin: 0;
  transform: translate(-50%,-50%);
}
@media screen and (min-width: 650px) {
  .unibz-logo {
    width: 400px;
  }
}
.hero-design {
  background-image: url("bachelor/atelier2.jpg");
}
.hero-students {
  background-image: url("students/students.jpg");
}
.hero-economics {
  background-image: url('faculty/eco-hero.jpg');
}
.hero-research {
  background-image: url('research/research-hero.jpg');
}
.hero-emma {
  background-image: url('master/emma-hero.jpg');
}
.hero-study {
  background-image: url('study/study-hero.jpg');
}
.hero-research-faculty {
  background-image: url('research-faculty/research-hero.jpg');
}

.hero-competence-centre {
   background-image: url('competence-centre/competence-4.jpg');
}

.header-small {
  display: block;
  font-size: 0.8em;
}

/* CONTENT */
.content {
  margin-bottom: 2em;
}
.figure {
  display: block;
  width: 100%;
  height: auto;
}
.video {
  width: 100%;
}

.button-group {
  margin: 1em auto;
}
.button-group .button {
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
}
.button {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 1em 2em;
  text-align: center;
  font-size: 1em;
  background-color: #3879d9;
  border: none;
  color: #ffffff;
}
@media screen and (min-width: 650px) {
  .button-group {
    display: flex;
  }
  .button:nth-child(2n) {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
}
.split {
  display: inline-block;
}

/* CONTENT-SPECIFIC*/
.academia {
  margin: 4em 0 0;
  padding: 2rem 0;
  background-color: #567CCD;
  color: #fff;
}
.academia > .wrap > h2 {
  margin: 0 0 1em 0;
}
.news-item {
  margin-bottom: 2em;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item > h3 {
  margin: .5em 0 .25em;
}
.news-item > p {
  line-height: 1.4;
}

/* BOTTOM NAVIGATION */
body {
  padding-bottom: 5rem;
  /*margin-bottom: 4rem;*/
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  overflow: hidden;
  background-color: #000;
}

.bottom-nav a {
  color: #fff;
  text-decoration: none;
  pointer-events: auto;
  font-weight: 700;
}

.footer-next, .footer-prev {
  display: block;
  width: 50%;
  border: none;
}

.footer-prev {
  float: left;
}

.footer-next {
  float: right;
  text-align: right;
}
